*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.hero
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(195, 174, 174, 0.5);
}

.cards
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 100px;
    row-gap:100px;
    max-width: 1200px;
    padding: 50px;
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid black;
    border-radius: 30px;
    background-color:whitesmoke;
    cursor: pointer;
}

.card img
{
    width:100%;
    height:100%;
    object-fit: cover;
}
.card:hover
{
    transform: scale(1.1);
}
h3
{
    padding: 10px;
}

p
{
    padding:12px;
    font-weight: 500;
}


a
{
    text-decoration: none;
    color: darkblue;
    padding-bottom: 5px;
}
