* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
  
    gap:50px;
    background-color: antiquewhite;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width:50%;
    height: auto;
    object-fit: cover;
    background-color: aqua;
    border: 3px solid red;
}
