* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    min-height: 100vh;
    background-image: url('../static/img/animal/elephant.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
}


.content {
    text-align: center;
    margin: 60px auto;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 10px;
}

.content h1 {
    font-size: 2.8em;
    color: yellowgreen;
    margin-bottom: 15px;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}

.intro {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #f0f0f0;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3 {
    color: wheat;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}

.card p {
    font-size: 1.05em;
    color: #f3f3f3;
    line-height: 1.6em;
}
