* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url('../static/img/gbg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.factcard {
    position: relative; 
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.factcard:hover {
    transform: scale(1.02);
}

.factcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
    overflow:hidden;
}

.factcard h3 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    padding: 10px 20px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    text-align: center;
}

.factcard p {
    position: absolute;
    bottom: 20px;
    width:90%;
    left:50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    padding: 10px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    text-align: center;
}

