* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    min-height: 100vh;
    background-image: url('../static/img/animal/zebra.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.map-section {
    text-align: center;
    margin: 40px auto;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
}

.map-section h1 {
    color: yellowgreen;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}

.map-section p {
    font-size: 1.2em;
    color: #f0f0f0;
    margin-bottom: 25px;
}

/* Map Styling */
#map {
    height: 550px;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    #map {
        height: 400px;
    }
}
