.fact-card {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(8, 4, 44);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.fact-card:hover {
    transform: scale(1.05);
}
