<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | WildLens</title>
    <link rel="stylesheet" href="../static/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="hero">


        <div class="about-content">
            <h1>About WildLens</h1>
            <p>
                <strong>WildLens</strong> is a digital gateway to the wild — where knowledge meets curiosity.  
                We aim to bring the wonders of nature closer to people by sharing fascinating facts, images, and stories about animals and birds around the globe.
            </p>

            <p>
                Our mission is to ignite a love for wildlife, inspire conservation efforts, and remind everyone that the Earth’s beauty lies in its biodiversity.
            </p>

            <p>
                Whether you’re an animal lover, a student, or a curious explorer — WildLens lets you experience the wild from your screen.
            </p>

            <div class="credits">
                <h3>Created by</h3>
                <p><span>Surya</span> | Passionate about Nature & Technology 🌍</p>
            </div>
        </div>
    </div>
</body>
</html>
