<!DOCTYPE html>
<html>
    <head>
        <title>Animal Facts Page</title>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width initial-scale=1.0">
        <link rel='stylesheet' href='../static/birdgallery.css'>
    </head>
    <body>
        <div class='hero'>
            <div class='cards'>
                <div class='card'>
                    <h3>Dog</h3>
                    <img src='../static/img/animal/dog.webp'>
                    <audio src="../static/sound/dogbark.mp3" controls>
                </div>
                <div class='card'>
                    <h3>Cat</h3>
                    <img src='../static/img/animal/cat.jpg'>
                    <audio src="../static/sound/cat.mp3" controls>
                </div>
                <div class='card'>
                    <h3>Elephant</h3>
                    <img src='../static/img/animal/elephant.webp'>
                    <audio src="../static/sound/ele.mp3" controls>
                    
                </div>
                <div class='card'>
                    <h3>Zebra</h3>
                    <img src='../static/img/animal/zebra.jpg'>
                    <audio src="../static/sound/zebra.mp3" controls>
                    
                </div>
                <div class='card'>
                    <h3>Donkey</h3>
                    <img src='../static/img/animal/donkey.jpg'>
                    <audio src="../static/sound/donkeybray.mp3" controls>
                </div>
                <div class='card'>
                    <h3>Horse</h3>
                    <img src='../static/img/animal/horse.jpeg'>
                    <audio src="../static/sound/horseneigh.mp3" controls>
                </div>
                <div class='card'>
                    <h3>Lion</h3>
                    <img src='../static/img/animal/lion.jpg'>
                    <audio src="../static/sound/lion.mp3" controls>
                    
                </div>
                <div class='card'>
                    <h3>Tiger</h3>
                    <img src='../static/img/animal/tiger2.jpg'>
                    <audio src="../static/sound/tiger.mp3" controls>
                    
                </div>
                <div class='card'>
                    <h3>Cheetah</h3>
                    <img src='../static/img/animal/chertah.jpg'>
                    <audio src="../static/sound/cheetah.mp3" controls>
                    
                </div>
                <div class='card'>
                    <h3>Monkey</h3>
                    <img src='../static/img/animal/monkey3.jpeg'>
                    <audio src="../static/sound/monkey.mp3" controls>
                
                </div>
                <div class='card'>
                    <h3>Goat</h3>
                    <img src='../static/img/animal/goat1.jpg'>
                    <audio src="../static/sound/goat.mp3" controls>
                    
                </div>
                <div class='card'>
                    <h3>Panda</h3>
                    <img src='/..static/img/animal/bear.jpg'>
                    <audio src="/..static/sound/panda.mp3" controls>
                    
                </div>
            </div>
        </div>
    </body>
</html>
