<!DOCTYPE html>
<html>
    <head>
        <title>Animal Facts Page</title>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width initial-scale=1.0">
        <link rel='stylesheet' href='../static/animalfacts.css'>
    </head>
    <body>
        <div class='hero'>
            <div class='cards'>
                <div class='card'>
                    <h3>Dog</h3>
                    <img src='../static/img/animal/dog.webp'>
                    <p>Dogs can understand up to 250 words and gestures, and their sense of smell is so strong that they can detect diseases like cancer and diabetes.</p>
                    <a href='https://www.purina.com/articles/dog/getting-a-dog/fun-facts-about-dogs' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Cat</h3>
                    <img src='../static/img/animal/cat.jpg'>
                    <p>Cats have a special reflective layer behind their eyes called the tapetum lucidum, which gives them six times better night vision than humans.</p>
                    <a href='https://www.purina.com/articles/cat/behavior/understanding-cats/fun-facts-about-cats' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Elephant</h3>
                    <img src='../static/img/animal/elephant.webp'>
                    <p>Elephants can “hear” through their feet — they detect vibrations from miles away during thunderstorms or stampedes. </p>
                    <a href='elephant.html' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Zebra</h3>
                    <img src='../static/img/animal/zebra.jpg'>
                    <p>No two zebras have the same stripe pattern — it’s their fingerprint equivalent.</p>
                    <a href='https://www.sophieallport.com/blogs/lifestyle/our-top-ten-interesting-zebra-facts' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Donkey</h3>
                    <img src='../static/img/animal/donkey.jpg'>
                    <p>Donkeys have an incredible memory — they can recognize other donkeys or places even after 25 years.</p>
                    <a href='donkey.html' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Horse</h3>
                    <img src='../static/img/animal/horse.jpeg'>
                    <p>Horses can sleep standing up due to a "locking" system in their legs and have a nearly 360-degree field of vision</p>
                    <a href='https://www.goodheartanimalsanctuaries.com/10-surprising-facts-about-horses/' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Lion</h3>
                    <img src='../static/img/animal/lion.jpg'>
                    <p>A lion’s roar can be heard up to 8 kilometers (5 miles) away — that’s louder than a rock concert!</p>
                    <a href='https://www.wwf.org.uk/learn/fascinating-facts/lions' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Tiger</h3>
                    <img src='../static/img/animal/tiger.jpg'>
                    <p>Tigers have unique stripes like human fingerprints, and their urine smells like buttered popcorn</p>
                    <a href='https://www.wwf.org.uk/learn/fascinating-facts/tigers' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Cheetah</h3>
                    <img src='../static/img/animal/chertah.jpg'>
                    <p>Cheetahs are the fastest land animals, capable of reaching speeds up to 70 mph, but they are also unique because they don't roar</p>
                    <a href='https://www.treehugger.com/cheetah-facts-5072714' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Monkey</h3>
                    <img src='../static/img/animal/monkey3.jpeg'>
                    <p>Monkeys can learn to use money — in lab experiments, they’ve traded tokens for food and even “gambled” with them!</p>
                    <a href='https://www.treehugger.com/things-you-didnt-know-about-monkeys-4869728' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Goat</h3>
                    <img src='../static/img/animal/goat1.jpg'>
                    <p>Goats have rectangular pupils, giving them a 320° field of vision — they can see almost everything around them without moving their head.</p>
                    <a href='https://www.treehugger.com/things-you-didnt-know-about-goats-4863954' target="_blank">Know More</a>
                </div>
                <div class='card'>
                    <h3>Panda</h3>
                    <img src='../static/img/animal/bear.jpg'>
                    <p>Pandas have such a powerful sense of smell that they can detect food 20 miles away</p>
                    <a href='https://www.wwf.org.uk/learn/fascinating-facts/pandas' target="_blank">Know More</a>
                </div>
            </div>
        </div>
    </body>
</html>
