<!DOCTYPE html>
<html>
    <head>
        <title>Bird Facts Page</title>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width initial-scale=1.0">
        <link rel='stylesheet' href='../static/birdgallery.css'>
    </head>
    <body>
        <div class='hero'>
            <div class='cards'>

                <div class='card'>
                    <h3>Parrot</h3>
                    <img src='../static/img/birds/parrot.avif'>
                    <audio src='../static/sound/parrot.mp3' controls>
                </div>

                <div class='card'>
                    <h3>Pigeon</h3>
                    <img src='../static/img/birds/pigeon.webp'>
                    <audio src='../static/sound/pigeon.mp3' controls>
                </div>

                <div class='card'>
                    <h3>Crow</h3>
                    <img src='../static/img/birds/crow.jpg'>
                    <audio src='../static/sound/crow.mp3' controls>
                </div>

                <div class='card'>
                    <h3>Peacock</h3>
                    <img src='../static/img/birds/peacock.jpeg'>
                    <audio src='../static/sound/peacock.mp3' controls>
                </div>

                <div class='card'>
                    <h3>Owl</h3>
                    <img src='../static/img/birds/owl.jpeg'>
                    <audio src='../static/sound/owl.mp3' controls>
                </div>

                <div class='card'>
                    <h3>Eagle</h3>
                    <img src='../static/img/birds/eagle.jpg'>
                    <audio src='../static/sound/eagle.mp3' controls>
                </div>

                <div class='card'>
                    <h3>Sparrow</h3>
                    <img src='../static/img/birds/sparrow.jpg'>
                    <audio src='../static/sound/sparrow.mp3' controls>
                </div>

                <div class='card'>
                    <h3>Duck</h3>
                    <img src='../static/img/birds/duck2.avif'>
                    <audio src='../static/sound/duck.mp3' controls>
                </div>

                <div class='card'>
                    <h3>Penguin</h3>
                    <img src='../static/img/birds/penguin.jpeg'>
                    <audio src='../static/sound/penguin.mp3' controls>
                </div>


            </div>
        </div>
    </body>
</html>
