<!DOCTYPE html>
<html>
    <head>
        <title>Bird Facts Page</title>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width initial-scale=1.0">
        <link rel='stylesheet' href='../static/animalfacts.css'>
    </head>
    <body>
        <div class='hero'>
            <div class='cards'>

                <div class='card'>
                    <h3>Parrot</h3>
                    <img src='../static/img/birds/parrot.avif'>
                    <p>Parrots can understand context — not just mimic. Some even use words meaningfully to communicate with humans.</p>
                    <a href='https://www.smithsonianmag.com/science-nature/14-fun-facts-about-parrots-can-sing-use-tools-and-live-long-time-180957714/'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Pigeon</h3>
                    <img src='../static/img/birds/pigeon.webp'>
                    <p>Pigeons can recognize their own reflection — a rare ability among birds — and can even remember human faces!</p>
                    <a href='https://www.excelpestservices.com/11-fun-facts-about-pigeons/'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Crow</h3>
                    <img src='../static/img/birds/crow.jpg'>
                    <p>Crows are incredibly smart — they use tools, recognize faces, and even hold grudges against people who wronged them!</p>
                    <a href='https://www.treehugger.com/facts-about-crows-corvids-4868585'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Peacock</h3>
                    <img src='../static/img/birds/peacock.jpeg'>
                    <p>Peacocks can shake their feathers at precise frequencies to produce a low, almost inaudible humming sound to attract mates.</p>
                    <a href='https://www.treehugger.com/peacock-facts-5094142'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Owl</h3>
                    <img src='../static/img/birds/owl.jpeg'>
                    <p>Owls can rotate their heads **270°** — their eyes are fixed, so they turn their necks to see around!</p>
                    <a href='https://www.audubon.org/magazine/13-fun-facts-about-owls'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Eagle</h3>
                    <img src='../static/img/birds/eagle.jpg'>
                    <p>Eagles can spot prey from more than **3 km away** — their eyesight is about **8 times sharper** than humans.</p>
                    <a href='https://www.audubon.org/magazine/10-fun-facts-about-bald-eagle'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Sparrow</h3>
                    <img src='../static/img/birds/sparrow.jpg'>
                    <p>Sparrows are social and emotional birds — they often feed their old or injured companions.</p>
                    <a href='https://www.livingwithbirds.com/tweetapedia/21-facts-on-house-sparrow'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Duck</h3>
                    <img src='../static/img/birds/duck2.avif'>
                    <p>Ducks’ quacks do echo — but it’s hard to hear because the echo blends perfectly with the original sound.</p>
                    <a href='https://www.four-paws.org/campaigns-topics/topics/farm-animals/10-facts-about-ducks'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Penguin</h3>
                    <img src='../static/img/birds/penguin.jpeg'>
                    <p>Penguins propose by giving pebbles — a male penguin offers a smooth stone to his chosen partner as a symbol of love.</p>
                    <a href='https://www.cabq.gov/artsculture/biopark/news/10-cool-facts-about-penguins'>Know More</a>
                </div>

                <div class='card'>
                    <h3>Flamingo</h3>
                    <img src='../static/img/birds/flamingo.jpeg'>
                    <p>Flamingos are naturally **white** — they turn pink because of the **beta-carotene** in the algae and shrimp they eat.</p>
                    <a href='https://wwf.ca/stories/six-flamboyant-flamingo-facts/'>Know More</a>
                </div>

            </div>
        </div>
    </body>
</html>
