<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='../static/card.css'>
</head>
<body>
    <div class='hero'>
        <div class='cards'>
                <div class='card'>
                    <img src='../static/img/animal/chertah.jpg'>
                    <p>Galary</p>
                </div>
                <div class='card'>
                    <img src='../static/img/animal/chertah.jpg'>
                    <p>Challenges</p>
                </div>
                <div class='card'>
                    <img src='../static/img/animal/chertah.jpg'>
                    <p>Explore Facts</p>
                </div>
                <div class='card'>
                    <img src='../static/img/animal/chertah.jpg'>
                    <p>Wild Map</p>
                </div>
            </div>

</body>
</html>